{% extends "base.html" %}

{% block body %}

    <div class="row">
        <div class="col-4 p-3 bg-whitedark text-dark">
            <!-- start 年份列表 -->
            <div id="accordion">
                {# start 年份生成循环语句 #}
                {% for year, month_dict in ma_dict.items() %}
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed btn" data-bs-toggle="collapse" href={{ "#collapse"+ year }}>
                                {# 年份 #}
                                {{ year }}年
                            </a>
                        </div>
                        <div id={{ "collapse"+ year }} class="collapse" data-bs-parent="#accordion">
                            <div class="card-body">
                                <!-- start 期刊列表 -->
                                <div class="row">
                                    {# start 刊号生成循环语句 #}
                                    {% for month, ma_list in month_dict.items() %}
                                        {% for ma_index in ma_list %}
                                            <div class="col-4">
                                                {% if ma_index == '0' %}
                                                    <a onclick="showDetail(this)"
                                                       id="{{ year }}{{ month }}{{ ma_index }}">{{ month }}月刊</a>
                                                {% elif ma_index == '1' %}
                                                    <a onclick="showDetail(this)"
                                                       id="{{ year }}{{ month }}{{ ma_index }}">{{ month }}月上</a>
                                                {% elif ma_index == '2' %}
                                                    <a onclick="showDetail(this)"
                                                       id="{{ year }}{{ month }}{{ ma_index }}">{{ month }}月中</a>
                                                {% elif ma_index == '3' %}
                                                    <a onclick="showDetail(this)"
                                                       id="{{ year }}{{ month }}{{ ma_index }}">{{ month }}月下</a>
                                                {% else %}
                                                    <a onclick="showDetail(this)"
                                                       id="{{ year }}{{ month }}{{ ma_index }}">{{ month }}月刊</a>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                    {# end 刊号生成循环语句 #}
                                </div>
                                <!-- start 期刊列表 -->
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {# end 年份生成循环语句 #}
            </div>
            <!-- end 年份列表 -->
        </div>


        <div class="col-8 p-3 bg-primary text-white">
            <!-- start 目录列表 -->
            <ul class="list-group" id="title_list">
                <!-- jquery 生成 -->
            </ul>
            <!-- end 目录列表 -->
        </div>
    </div>

{% endblock %}